
<!--for operating principal we used legal  (<link rel="stylesheet" href="./legalAgreements.css">_ agreements css code as it------->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operating Principal - Matrixhub Technology</title>    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">    
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="./legalAgreements.css">
</head>
<body>
    <!-----------------------------------Top Bar------------------------------------------------->
    <section>
        <header>
          <div class="header-container">
            <div class="logo">
              <img src="../imeges/logo.png" alt="Logo">
            </div>
            <nav>
              <ul>
                <li><a href="../index.html">Home</a></li>
                <li>
                  <a href="#">Company <i class="fas fa-caret-down"></i></a>
                  <ul class="dropdown-menu company-menu">
                    <li><a href="./WhoWeAre.html">Who We Are</a></li>
                    <li><a href="./FeaturesOverviews.html">Why Matrixhub</a></li>
                    <li><a href="./coreValue.html">Core Value</a></li>
                    <li><a href="./legalAgreements.html">Legal Agreements</a></li>
                    <li><a href="./OperatingPrincipa.html">Operating Principal</a></li>
                    <li><a href="./PrivacyPolicy.html">Privacy Policy</a></li>
                  </ul>
                </li>
                                
                <li>
                  <a href="#">Our Services <i class="fas fa-caret-down"></i></a>
                  <ul class="dropdown-menu services-menu">
                    <li><a href="../Components/OurServices.html#agile"><i class="fas fa-code"></i> Agile Development Service</a></li>
                    <li><a href="../Components/OurServices.html#android"><i class="fab fa-android"></i> Android Application Development</a></li>
                    <li><a href="../Components/OurServices.html#sms"><i class="fas fa-mobile-alt"></i> BULK SMS</a></li>
                    <li><a href="../Components/OurServices.html#cloud"><i class="fas fa-cloud"></i> Cloud Computing Platform Management</a></li>
                    <li><a href="../Components/OurServices.html#ECommerce"><i class="fas fa-shopping-cart"></i> Custom E-Commerce Development</a></li>
                    <li><a href="../Components/OurServices.html#customSoftware"><i class="fas fa-shopping-cart"></i> Custom Software Development</a></li>
                    <li><a href="../Components/OurServices.html#appliction"><i class="fas fa-desktop"></i> Desktop Application Development</a></li>
                    <li><a href="../Components/OurServices.html#email"><i class="fas fa-envelope"></i> Business Email hosting Services</a></li>
                    <li><a href="../Components/OurServices.html#marketing"><i class="fas fa-bullhorn"></i> Digital Social Marketing</a></li>
                    <li><a href="../Components/OurServices.html#domain"><i class="fas fa-globe"></i> Domain Registration</a></li>
                    <li><a href="../Components/OurServices.html#iphone"><i class="fab fa-apple"></i> IPhone Apps Development</a></li>
                    <li><a href="../Components/OurServices.html#api"><i class="fas fa-mobile-alt"></i> Mobile App API Development</a></li>
                    <li><a href="../Components/OurServices.html#project"><i class="fas fa-project-diagram"></i> Project Management Services</a></li>
                    <li><a href="../Components/OurServices.html#SalesForce"><i class="fab fa-salesforce"></i> SalesForce Consultant</a></li>
                    <li><a href="../Components/OurServices.html#software"><i class="fas fa-code-branch"></i> Software Quality</a></li>
                    <li><a href="../Components/OurServices.html#web"><i class="fas fa-code"></i> Website Designing And Development</a></li>
                  </ul>
                </li>
                
                <li><a href="./Portfolio.html">Portfolio</a></li>
                <li><a href="./ContactUs.html">Contact Us</a></li>
              </ul>
            </nav>
          </div>
        </header>
    </section>

<!-----------------------------------About us Curve Section------------------------------------------------->
<section class="section-about-us">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="wave-about">
      <path fill="#2C3E50" fill-opacity="1" d="M0,256L60,256C120,256,240,256,360,240C480,224,600,192,720,160C840,128,960,96,1080,106.7C1200,117,1320,171,1380,197.3L1440,224L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
  </svg>
  <h1 class="header-about">Operating Principal</h1>
</section>
<!-----------------------------------Legal Agreements Section------------------------------------------------->
<section class="agreements-section">
        <div class="agreements-text">
            <ul>
                <li><strong> Verifiable Information :</strong> <br> We offer you documents,references,artifacts,etc.to prove our expertise.Not just wordsMatrixhHub Technology Offers documents,references,artifacts and other tangible evidence to verify it sexpertise;we never make unsupported claims.</li> <br>
                <li><strong>Cultural Collaboration :</strong> <br>We are experienced in bridging the gaps between different cultures and business traditions. We work with our customers on the basis of respect for their local approaches and business practices while employing the advantages of globalization.</li><br>
                <li><strong>Smart Communication :</strong> <br>You will not feel anytime difference even if you are located on the other side of the globe.Depending on your requirements, complete project and progress information can be available around the clock.</li><br>
                <li><strong>Ingenuity and Professionalism :</strong> <br>Although we base our solutions on sophisticated principles and technologies, they are still easy to use and understand.We know how to make complicated things simple and useful.</li><br>
                <li><strong>Understanding Needs :</strong> <br>To provide satisfactory solution,we first analyze the requirement description.If we discover some missing points, the concerned person of the field will have adiscussion with client and suggest him better option. As we will like togather all the required information about the business like business objectives and other necessary information required for development of project.After getting clear thought of project,we will move forward. We will anticipate challenges with our highly qualified and experienced teamm embers.Client defines the task and gives the initial information for the project.Company project manager will ask additional questions to clarify the work to be done.</li><br>
                <li><strong>Development :</strong> <br>The actual work on an offshore web development of e-commerce software development project includes several simultane ous processes.Client is provided with the capability to control the progress on each of the activities at any development stage.The MatrixhHub Technology-prototype originally shown to clientis step-by-step replaced by a full-scale solution.The processes are:</li><br>
                <li><strong>Business Model:</strong> <br>"A business model of any businessis an idea or concept for making money profitably". It is concept for transformation of inputs into value adding outputs. MatrixhHub Technology is IT solution providing company and follows various strategies,trading practices,operational processes and policies that consists perfect business model to facilitate off shore customer.</li><br>
                <li><strong>Project-based solutions :</strong><br>MatrixhHub Technology provides a full range of Information & Technology solutions on project basis-tailoring the level of support to your specific needs.We used to provide technical assistance and advice, Create and recommend a solution,Develop a practical implementation plan for offshore IT projects.Our skilled project manager use to over see the project with his team. We build our team with experienced IT professionls who have not only sound business and strategic skills,but extensive implementation and project-management experience as well.Many of our affiliates have managed larges cale,global out sourcing project swith complex time and get parameters.</li><br>


            </ul>
        </div>
        <div class="agreements-image">
            <img src="../imeges/operatingPrincipal.png" alt="Agreement Image">
        </div>
        
</section>

<!-----------------------------------------Services And About Us------------------------------------->
<section class="FooterSection">
  <div class="main-container">
      <div class="left-section">
        <img src="../imeges/logo.png" alt="Company Logo" class="company-logo">
        <p class="tagline">Empowering Businesses with Innovative Software and IT Solutions</p>
        <div class="contact-info">
          <div class="phone">
            <i class="fas fa-phone-alt"></i><a href="tel:+91 9595664413">+91- 9595664413</a> 
          </div>
          <div class="email">
            <i class="fas fa-envelope"></i><a href="mailto:info@matrixhubtech.com">info@matrixhubtech.com</a>
          </div>
          <div class="social-icons">
            <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
            <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      

      <div class="about-section">
        <h2 class="headsection-title">About Us</h2>
        <ul>
         <a href="./WhoWeAre.html"><li>Who We Are</li></a>
         <a href="./coreValue.html"><li>Core Value</li></a>
         <a href="./legalAgreements.html"><li>Legal Agreements</li></a>
         <a href="./OperatingPrincipa.html"><li>Operating Principle</li></a>
         <a href="./PrivacyPolicy.html"><li>Privacy Policy</li></a>
        </ul>
     </div>

      <div class="right-section">
          <h2 class="headsection-title">Services</h2>
          <div class="service-list">
            <div class="service-item">
              <a href="../Components/OurServices.html#android"><i class="fas fa-mobile-alt"></i>Android Application development</a>
            </div>
            <div class="service-item">
              <a href="../Components/OurServices.html#api"><i class="fas fa-code"></i>Mobile Application API Development</a>           
            </div>
            <div class="service-item">
              <a href="../Components/OurServices.html#email"><i class="fas fa-envelope"></i> Business Email Hosting Services</a>
            </div>
            <div class="service-item">
              <a href="../Components/OurServices.html#appliction"><i class="fas fa-desktop"></i>Desktop Application development</a>
            </div>
            <div class="service-item">
              <a href="../Components/OurServices.html#SalesForce"><i class="fas fa-chart-line"></i> Sales force Consult and Enterprise Mobility</a>
            </div>
            <div class="service-item">
              <a href="../Components/OurServices.html#web"><i class="fas fa-globe"></i>Website designing and development</a>
            </div>
        </div>
        
        </div>
      </div>


      <div class="global-presence">
        <div class="locationheader">
          <h2>Global Presence :</h2>
         <div class="global"><p><strong>India</strong> | Japan | Singapore</p></div> 
        </div>
        <div class="location-container">
          <div class="location">
            <div class="flag-icon">
              <img src="../imeges/india.png" alt="India Flag">
            </div>
            <div class="location-details">
              <h3>Pune</h3>
              <p>Office No.505-A,Zen Business Center,<br>
              Bhumkar Chowk,<br>
              Hinjawadi Road, Wakad Pune<br>
              Maharashtra India-411057.</p>
            <p>HR: <i class="fas fa-phone-alt"></i> +91 9595 66 4413</p>
              <p>Sales & Support -<br><i class="fas fa-phone-alt"></i> +91  8055 66 4413</p>
              <p><i class="fas fa-envelope"></i> info@matrixhubtech.com</p>
            </div>
          </div>




          <div class="vertical-line"></div>
          <div class="location">
            <div class="flag-icon">
              <img src="../imeges/japan.png" alt="Japan Flag">
            </div>
            <div class="location-details">
              <h3>Gunma ken</h3>
              <p>Otafuku Heights 577-6 sakainocho<br>
              Kiryushi,Gunma ken<br>
              pin code 3760002.</p>
              <p>Sales & Support -<br>
              <i class="fas fa-phone-alt"></i> +81 8050 50 8441</p>
              <p><i class="fas fa-envelope"></i> mk@matrixhubtech.com</p>
            </div>
          </div>
          <div class="vertical-line"></div>
          <div class="location">
            <div class="flag-icon">
              <img src="../imeges/singapore.png" alt="Singapore Flag">
            </div>
            <div class="location-details">
              <h3>Singapore</h3>
              <p>16-27, Block 4, Holland Close,<br>
              Singapore<br>
              Pin Code 271004.</p>
              <p>Sales & Support -<br>
              <i class="fas fa-phone-alt"></i> +65 8541 5594</p>
              <p><i class="fas fa-envelope"></i> info@matrixhubtech.com</p>
            </div>
          </div>
        </div>
      </div>
      <footer>
          <div class="copyright">
            <p>Copyright MatrixHub Technology © 2023. All rights reserved.</p>
         </div>
      </footer>
</section>
</body>
</html>


